@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

.left-column {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
    position: relative;
    width: 15em;
    height: 25em;
    background: #e4bcbc;
    padding: 35px 15px 15px;
    border-radius: 5px;
    rotate: -5deg;
    margin: 15%;
    margin-top: 40%;
    /* border: 2px solid red; */
  }

.wrapper:before{
  content: "";
  position: absolute;
  top: 11px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 13px;
  background: #c29898;
  border-radius: 50px;
}

.wrapper:after{
  content: "";
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 100px;
  background: #353535;
  box-shadow: 0 5px 5px rgba(0,0,0,0.125);
}

.card{
  width: 200px;
  height: 320px;
  background: #fff;
  padding: 20px 20px 0;
  position: relative;
  border-radius: 5px;
  /* border: 2px solid red; */
  margin-left: 3%;
}

.card img{
  width: 100%;
  margin-bottom: 80px;
}

.card .info{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 20px;
  background: #2c9c4f;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card p{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.profile-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card-container {
    width: 60vh; 
    height: 60vh; 
    display: flex;
    /* border: 2px solid red; */
    background-color:#cda9a9;
    position: relative;
}

.wave{
  /* width: 100px;
  height: 100px;
  background-color: #2c9c4f; */
  /* width: 100%; */
  width: 50%;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
}

.custom-shape-divider-top-1685506080 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1685506080 svg {
  position: relative;
  display: block;
  width: calc(60% + 1.3px);
  height: 10px;
}

.custom-shape-divider-top-1685506080 .shape-fill {
  fill: #F3C21F;
}



.custom-shape-divider-top-1685505344 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1685505344 svg {
  position: relative;
  display: block;
  width: calc(123% + 1.3px);
  height: 123px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1685505344 .shape-fill {
  fill: #F3C21F;
}


  
  .left-column,
  .right-column {
    width: 50%; 
  }

.right-column {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.logo-image{
    margin: auto;
    width: 100%;
    max-width: 350px;
    height: 100%;
}

.right-column > .company-logo-container {
    height: 25%;
    display: flex;
    flex-direction: row-reverse;
    padding: 1em;
}

.logo-secondary-container{
    display: flex;
    text-align: right;
}

.person-desc{
    padding: 1em;
    position: relative;
}

.welcome-title{
    margin: auto;
    margin-top: 5%;
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
}

.about-title{
    color: #2c9c4f;
    font-size: x-large;
    text-align: center;
    font-weight: 800;
}

.about-text {
    font-size: larger;
    text-align: center;
    font-weight: 600;
}

.right-column > .person-desc {
    height: 70%;
}

/* . */

  
  .right-column > div {
    height: 33%;
    margin-bottom: 10px; 
  }

  .dots{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row-reverse;
    padding: 1em;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .dot{
    display: inline-block;
    height: 7vh;
    width: 7vh;
    background-image: radial-gradient(#817bca 30%, transparent 21%),
        radial-gradient(#817bca 10%, transparent 21%);
    background-size: 20px 20px;
    background-position: 0 0 0 30px;
    background-repeat: repeat;
  }
  
  @media screen and (max-width: 961px) {
    .card-container {
      width: 50vh;
      height: 50vh; 
      padding-left: 1vh;
    }

    .wrapper{
        position: relative;
        height: 40vh;
        width: 25vh;
        margin-top: 25%;
        padding: 30px 10px 10px;
    }

    .card{
        width: 22vh;
        height: 35vh;
        margin: 0;
    }

    .wrapper:after{
        content: "";
        position: absolute;
        top: -5vh;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        height: 7vh;
        background: #353535;
        box-shadow: 0 5px 5px rgba(0,0,0,0.125);
    }

    .card p{
        font-size: 8px;
        font-weight: bold;
    }

    .welcome-title{
        font-size: 1.5rem;
        font-weight: 900;
    }

    .about-title {
        font-size: medium;
        font-family: 'Poppins', sans-serif;
        margin-left: 1em;
    }

    .about-text {
        font-size: small;
        font-family: 'Poppins', sans-serif;
        margin-left: 2em;
        font-weight: 900;
    }
    .person-desc{
        padding: 1em;
    }
  }

.profile-photo-img{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 12em;
    max-height: 12em;
}